<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/course" class="navbar-brand">Assessment Marking Tool</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/course">My Courses</a></li>
        <li routerLinkActive="active"><a routerLink="/tutor">My Tutors</a></li>
        <li routerLinkActive="active"><a routerLink="/student">My Students</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Login</a></li>
        </ng-template>
        <form class="navbar-form navbar-left" *ngIf="authService.isAuthenticated()">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
        <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Edit profile</a></li>
            <li><a style="cursor: pointer;" (click)="onLogout()">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
