<div class="row">
  <div class="col-xs-12">
    <h1>{{ (courseObservable | async)?.id }} - {{ (courseObservable | async)?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Location: {{ (courseObservable | async)?.location }}</h4>
    <h4>Term: {{ (courseObservable | async)?.term }}</h4>
    <div class="row">
      <div class="col-xs-12">
        <div
          class="btn-group"
          appDropdown>
          <button
            type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Course <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Import students</a></li>
            <li><a style="cursor: pointer;" (click)="onEditCourse()">Edit Course</a></li>
            <li><a style="cursor: pointer;" (click)="onDeleteCourse()">Delete Course</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let assessmentDetail of (courseObservable | async)?.assessments; let i = index"
        (click)="onStudent(i)">
        Assessment {{ i+1 }} - {{ assessmentDetail.name }}
      </li>
    </ul>

    <!--<ul class="list-group">-->
    <!--<li-->
    <!--class="list-group-item"-->
    <!--*ngFor="let assessmentDetail of course.assessments; let student of assessmentDetail.student;-->
    <!--let i = index"-->
    <!--&gt;-->
    <!--{{student.studentId}} - {{student.firstName}} {{student.lastName}} - {{student.email}}-->
    <!--</li>-->
    <!--</ul>-->
  </div>
</div>
