<div class="row" >
  <div class="col-xs-12" >
    <h1>{{ (tutor | async)?.firstName }} {{ (tutor | async)?.lastName }}</h1>
    <h4>Hello</h4>
    <!--{{tutor.firstName}} {{tutor.lastName}}-->
  </div>
</div>
<div class="row">
  <div class="col-xs-12" >
    <!--<h4>Tutor username: {{ (tutorObservable | async)?.tutorUsername }}</h4>-->
    <h4>Email: {{ (tutor | async)?.email }}</h4>
    <!--<h4>Tutor username: {{ tutor.tutorUsername }}</h4>-->
    <!--<h4>Email: {{ tutor.email }}</h4>-->
    <div class="row">
      <div class="col-xs-12">
        <div
          class="btn-group"
          appDropdown>
          <button
            type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Tutor <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;" (click)="onEditTutor()">Edit Tutor</a></li>
            <li><a style="cursor: pointer;" (click)="onDeleteTutor()">Delete Tutor</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
