<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewCourse()">New Course</button>
  </div>
</div>
<hr>
<div>
  <div class="col-xs-12">
    <app-course-detail
      *ngFor="let courseEl of studentsObservable | async; let i= index"
      [course]="courseEl"
      [index]="i"></app-course-detail>
  </div>
</div>
