<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!courseForm.valid"
          >Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="courseId">Course ID</label>
            <input
              type="text"
              class="form-control"
              id="courseId"
              formControlName="id">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="courseName">Course Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="courseName">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="location">Location</label>
            <select
              id="location"
              class="form-control"
              formControlName="location"
              name="location">
              <option value="Mt Helen">Mt Helen</option>
              <option value="Gippsland">Gippsland</option>
              <option value="SMB">SMB</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="term">Term</label>
            <select
              id="term"
              class="form-control"
              formControlName="term"
              name="term">
              <option value="Semester 1 2018">Semester 1 2018</option>
              <option value="Semester 2 2018">Semester 2 2018</option>
              <option value="Semester 1 2019">Semester 1 2019</option>
              <option value="Semester 2 2019">Semester 2 2019</option>
            </select>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12" formArrayName="assessments">
          <div
            class="row"
            *ngFor="let assessmentCtrl of courseForm.get('assessments').controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px;">
            <div class="col-xs-4">
              <p>Assessment {{i+1}}</p>
            </div>
            <div class="col-xs-6">
              <input
                type="text"
                class="form-control"
                formControlName="name">
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteAssessment(i)">Delete</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddAssessment()">Add Assessment</button>
            </div>
          </div>
        </div>
      </div>
      <span
        *ngIf="!courseForm.valid && courseForm.touched"
        class="help-block">please enter a valid data!</span>
    </form>
  </div>
</div>
