<!--<div class="row">-->
  <!--<div class="col-xs-12">-->
    <!--<form #tutorForm="ngForm" (ngSubmit)="onSubmit(tutorForm)">-->
      <!--<input-->
        <!--type="hidden"-->
        <!--name="$key"-->
        <!--#key="ngModel"-->
        <!--[(ngModel)]="selectedTutor.key">-->
      <!--<div class="form-group">-->
        <!--<label>First Name</label>-->
        <!--<input-->
          <!--class="form-control"-->
          <!--name="firstName"-->
          <!--#firstName="ngModel"-->
          <!--[(ngModel)]="selectedTutor.firstName"-->
          <!--required>-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label>Last Name</label>-->
        <!--<input class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="selectedTutor.lastName">-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label>Email</label>-->
        <!--<input class="form-control" name="email" #email="ngModel" email type="email" [(ngModel)]="selectedTutor.email" >-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<label>Password</label>-->
        <!--<input class="form-control" name="passowrd" #email="ngModel" type="password" [(ngModel)]="selectedTutor.password" >-->
      <!--</div>-->
      <!--<div class="form-group">-->
        <!--<button class="btn btn-default" type="submit" [disabled]="!tutorForm.valid">-->
          <!--Submit</button>-->
        <!--<button class="btn btn-default" type="button" (click)="resetForm(tutorForm)">-->
          <!--Reset</button>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->







<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="tutorForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!tutorForm.valid"
        >{{ editMode ? 'Update' : 'Sign up' }}
        </button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        <hr>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          id="firstName"
          name="firstName"
          formControlName="firstName"
          class="form-control">
        <span
          *ngIf="!tutorForm.get('firstName').valid && tutorForm.get('firstName').touched"
          class="help-block">First name can not be empty!</span>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          name="lastName"
          formControlName="lastName"
          class="form-control">
        <span
          *ngIf="!tutorForm.get('lastName').valid && tutorForm.get('lastName').touched"
          class="help-block">Last name can not be empty!</span>
      </div>
      <div class="form-group">
        <label for="email">Mail</label>
        <input
          type="email"
          id="email"
          name="email"
          formControlName="email"
          class="form-control">
        <span
          *ngIf="!tutorForm.get('email').valid && tutorForm.get('email').touched"
          class="help-block">Please enter a valid email!</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          formControlName="password"
          class="form-control">
        <span
          *ngIf="!tutorForm.get('password').valid && tutorForm.get('password').touched"
          class="help-block">Password must be at least 6 characters!</span>
      </div>
      <hr>
    </form>
  </div>
</div>
