<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ course.id }}</h4>
    <p class="list-group-item-text">{{ course.name }}</p>
    <p class="list-group-item-text">{{ course.location }}</p>
    <p class="list-group-item-text">{{ course.term }}</p>
  </div>
</a>
