<!--<a-->
<!--style="cursor: pointer;"-->
<!--[routerLink]="[index]"-->
<!--routerLinkActive="active"-->
<!--class="list-group-item clearfix">-->
<!--<div class="pull-left">-->
<!--<h4 class="list-group-item-heading">{{ tutor.firstName }} {{ tutor.lastName }}</h4>-->
<!--<p class="list-group-item-text">{{ tutor.email }}</p>-->
<!--</div>-->
<!--</a>-->


  <div class="row">
    <div class=" col-xsx-7 col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ tutor.firstName }} {{ tutor.lastName }}</h4>
        <p class="list-group-item-text">{{ tutor.email }}</p>
      </div>
      <div class="pull-right">
        <button class="btn btn-primary btn-xs" (click)="onEditTutor(tutor)">Edit</button>
        <button class="btn btn-danger btn-xs" (click)="onDeleteTutor()">Delete</button>
      </div>
    </div>
  </div>
