<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <h2>My Student List</h2>
      <button class="btn btn-success" (click)="onSaveStudent()">Save Students</button>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Student ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of studentsObservable | async">
          <td>{{student.studentId}}</td>
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.email}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
